.card {
    background: rgb(203, 209, 209);
}

.card-footer {
    background: rgb(203, 209, 209);
}

.card-footer:hover {
    cursor: pointer;
    background: rgb(185, 190, 190);
}

.card-header {
    background: rgb(203, 209, 209);
}