<div id="main" class="container">
        <div class="row justify-content-center">
            <h1>Trello Copy</h1>
        </div>
        <div class="row justify-content-center" id="list-1">
                <div class="col-8 card" cdkDrag>
                    <div class='card-header' > Task List 1</div>
                            <div cdkDropList class='card-body' (cdkDropListDropped)="drop($event)">    
                                <app-task *ngFor='let task of taskList' [task]='task' cdkDrag></app-task>
                                <app-add-task *ngFor='let task of addTaskList' [task]='task' cdkDrag></app-add-task> 
                        </div>
                        <div id='newTask' class='card-footer' (click)='newTask()'>
                                + Add New Task
                            </div>
                     </div>
                </div>   
            </div>




